---
---

html { height: 100%; }

body {
	min-height: 100%;
	margin: 0 auto -3rem;
	position: relative;
}

#header {
	background: #343434;
	position: relative;
	width: 100%;

	h1 {
		color: #fff;
		font-size: 1.5rem;
		margin: 0;
		padding: 1rem 2rem;
		vertical-align: top;

		img {
			vertical-align: text-top;
			width: 1.5rem;
		}
	}

	nav {
	  padding-right: 1rem;
	  position: absolute;
	  right: 0;
    top: 0;

    #nav-trigger, #nav-status { display: none; }

	  ul li {
      display: inline-block;

      a {
        background: #343434;
        color: #fff;
        display: block;
        font-size: 1.25rem;
        padding: .5rem 1rem;
        text-decoration: none;

        &:hover { text-decoration: underline; }
      }
	  }

    // RWD for nav
    @media screen and (max-width: 610px) {
      #nav-trigger {
        color: #fff;
        display: block;
        font-size: 2rem;
        float: right;
        padding: 1rem;
        width: 100%;
        text-align: right;
      }

      ul li { display: none; }

      #nav-status:checked + ul li {
        display: block;

        a { padding: 1rem 2rem; }
      }

    }
	}
}

#main {
	min-height: 100%;
	padding: 1rem 3rem;
}

#footer {
	background: #222;
	bottom: 0;
	height: 1rem;
	padding: 1rem 0;
	position: absolute;
	text-align: center;
	width: 100%;

	a { color: #fff; }
}

#calendar {
  padding: 0 20%;
  width: 60%;
}
